<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Desafio proposto pela Gama Academy">
  <meta name="keywords" content="HTML, CSS, JavaScript, Gama Academy, AirBnB">
  <meta name="author" content="Arthur Leandro">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
  <title>Desafio AirBnB</title>
</head>

<body>
  <nav>
    <div class="topnav">
      <!-- <img id="navbar" class="active logo" src="/images/external-content.duckduckgo.com.png"> -->
      <a id="navbar" class="active">AirNbN</a>
      <!-- <a id="navbar" href="#news">Sobre</a>
      <a id="navbar" href="#contact">Contate-me</a>
      <a id="navbar" href="#about">Trabalhe Conosco</a> -->
    </div>
  </nav>
  <div class='container'>

    <div class='cards' id="cards">
    </div>
  </div>
  <script src="/js/index.js"></script>
</body>

</html>