button.trigger(data-modal-trigger="trigger-1")
	i.fa.fa-fire(aria-hidden="true")
	| 	Modal 1
button.trigger(data-modal-trigger="trigger-2")
	i.fa.fa-fire(aria-hidden="true")
	| 	Modal 2
button.trigger(data-modal-trigger="trigger-3")
	i.fa.fa-fire(aria-hidden="true")
	| 	Modal 3
.modal(data-modal="trigger-1")
	article.content-wrapper
		button.close
		header.modal-header
			h2 This is a modal 1
		.content
			p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
		footer.modal-footer
			button.action Accept
			button.action Decline
.modal(data-modal="trigger-2")
	article.content-wrapper
		button.close
		header.modal-header
			h2 This is a modal 2
		.content
			p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
		footer.modal-footer
			button.action Accept
			button.action Decline
.modal(data-modal="trigger-3")
	article.content-wrapper
		button.close
		header.modal-header
			h2 This is a modal 3
		.content
			p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
		footer.modal-footer
			button.action Accept
			button.action Decline

