.main-content
	.palette-grid
		
		.palette-headers
			h1 Primary Colors
			h2 Main colors of the site. We're making it shine ☀️
		
		.palette.palette--main-color
			.palette__colors
				.palette__color(style="--bg-color: #FFD151;")
				.palette__shades
					.palette__shades__item(style="--bg-color:#FFEAAF") #FFEAAF
					.palette__shades__item(style="--bg-color:#FFE190") #FFE190
					.palette__shades__item(style="--bg-color:#FFD970") #FFD970
			.palette__info
				.palette__info__name Mustard
				.palette__info__hexcode #FFD151
		
		.palette.palette--main-color
			.palette__colors
				.palette__color(style="--bg-color: #FFAE03;")
				.palette__shades
					.palette__shades__item(style="--bg-color:#FFD275") #FFD275
					.palette__shades__item(style="--bg-color:#FFC447") #FFC447
					.palette__shades__item(style="--bg-color:#FFB519") #FFB519
			.palette__info
				.palette__info__name UCLA Gold
				.palette__info__hexcode #FFAE03
		
		.palette-headers
			h1 Secondary Colors
			h2 Remaining colors that make up the palette. Also useful for status/info alerts.
		
		.palette.palette--secondary-color
			.palette__colors
				.palette__color(style="--bg-color: #20A39E;")
				.palette__shades
					.palette__shades__item(style="--bg-color:#71C4C1") #71C4C1
					.palette__shades__item(style="--bg-color:#48B3AF") #48B3AF
			.palette__info
				.palette__info__name Light Sea Green
				.palette__info__hexcode #20A39E
		
		.palette.palette--secondary-color
			.palette__colors
				.palette__color(style="--bg-color: #EF5B5B;")
				.palette__shades
					.palette__shades__item(style="--bg-color:#F49696") #F49696
					.palette__shades__item(style="--bg-color:#F17878") #F17878
			.palette__info
				.palette__info__name Sunset Orange
				.palette__info__hexcode #EF5B5B
		
		.palette.palette--secondary-color
			.palette__colors
				.palette__color(style="--bg-color: #083D77;")
				.palette__shades
					.palette__shades__item.font-white(style="--bg-color:#6183A8") #6183A8
					.palette__shades__item.font-white(style="--bg-color:#34608F") #34608F
			.palette__info
				.palette__info__name Dark Cerulean
				.palette__info__hexcode #083D77
		
		.palette-headers
			h1 Many Shades of Gray
			h2 Let's try to keep the number of grays below 50.
	
		.palette.palette--grays
			.palette__color(style="--bg-color: #E8E9E9;")
			.palette__info
				.palette__info__name Platinum
				.palette__info__hexcode #E8E9E9
		.palette.palette--grays
			.palette__color(style="--bg-color: #D1D3D4;")
			.palette__info
				.palette__info__name Light Gray
				.palette__info__hexcode #D1D3D4
		.palette.palette--grays
			.palette__color(style="--bg-color: #BABDBF;")
			.palette__info
				.palette__info__name Gray
				.palette__info__hexcode #BABDBF
		.palette.palette--grays
			.palette__color(style="--bg-color: #808488;")
			.palette__info
				.palette__info__name Old Silver
				.palette__info__hexcode #808488
		.palette.palette--grays
			.palette__color(style="--bg-color: #666A6D;")
			.palette__info
				.palette__info__name Dim Gray
				.palette__info__hexcode #666A6D
		.palette.palette--grays
			.palette__color(style="--bg-color: #4D5052;")
			.palette__info
				.palette__info__name Feldgrau
				.palette__info__hexcode #4D5052
		.palette.palette--grays
			.palette__color(style="--bg-color: #333537;")
			.palette__info
				.palette__info__name Jet
				.palette__info__hexcode #333537
		.palette.palette--grays
			.palette__color(style="--bg-color: #1C1D1E;")
			.palette__info
				.palette__info__name Eerie Black
				.palette__info__hexcode #1C1D1E

aside.context
	.explanation
		| Hover over primary & secondary colors for additional shades. 
		br
		| Part of the 
		a(href="https://codepen.io/collection/DQvYpQ/" target="_blank") Grid Experiment here
		| .

footer
	a(href="https://twitter.com/meowlivia_" target="_blank")
		i.icon-social-twitter.icons
	a(href="https://github.com/oliviale" target="_blank")
		i.icon-social-github.icons
	a(href="https://dribbble.com/oliviale" target="_blank")
		i.icon-social-dribbble.icons
