@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 1.15em "Source Sans Pro", sans-serif;
  letter-spacing: 0.5px;
  background: #EEEEEE;
  color: black;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-bottom: 0;
}
p {
  margin-top: 0;
}

input {
  display: block;
  appearance: none;
  margin: 0.5em auto;
  padding: 0.5em;
  padding-left: 0.1em;
  vertical-align: middle;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  border-radius: 2px;
  color: black;
  background: transparent;
  font-size: 1em;
  width: 90%;
  width: calc(100% - 1em);
  max-width: 20.25em;
  outline: 0;
}

.slideUp-enter-active {
  transform: translateY(0);
  transition: all .3s ease;
}
.slideUp-leave-active {
  position: absolute;
}

.slideUp-enter {
  transform: translateY(25%);
  opacity: 0;
}

.openUp-enter-active, .openUp-leave-active {
  transition: all .5s
}

.openUp-enter, .openUp-leave-active {
  opacity: 0;
  transform: translateY(25%);
}

.vueApp {
  text-align: center;
  padding: 0.5em;

  .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

    .color {
      height: 200px;
      margin: 0.5em;
      padding: 0.5em;
      color: white;
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      transition: all 0.1s;
      cursor: pointer;

      &:hover {
        // padding: 0.55em;
        text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
      }
      
      span {
        &:first-of-type {
          align-self: flex-end;
          text-align: left;
          font-size: 2em;
          width: 100%;
        }
        
        &:nth-of-type(2) {
          text-align: right;
          align-self: flex-start;
          font-size: 0.75em;
          width: 100%;
        }
      }
    }
  }
  
  .messages {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    .message {
      padding: 1em;
      background: rgba(0,0,0,0.25);
      color: white;
    }
  }
}
